# I hate Python packaging! Putting all of this in setup.py simple isn't
# enough. setuptools behaves differently than distutils and sdist is is not
# bdist and there are eggs on my wheels. Don't get my started on
# discoursegraphs.get_package_root_dir() !

# I just learned that I can't even use sdist any longer, because pip forces a call
# to bdist_wheel even for sdist packages.
#
# http://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distribute
# https://github.com/pypa/setuptools/issues/521
# http://stackoverflow.com/questions/1612733/including-non-python-files-with-setup-py
# https://bitbucket.org/pypa/wheel/issues/120/bdist_wheel-creates-a-wheel-that-installs
# https://bitbucket.org/pypa/wheel/issues/92/bdist_wheel-makes-absolute-data_files
# https://github.com/pypa/pip/issues/2874

include Dockerfile LICENSE Makefile *.rst *.txt
recursive-include data *
recursive-include docs *
recursive-include src *.dtd
recursive-include tests *
