-e . # install this package using the setup.py in this directory
git+https://github.com/arne-cl/neonx.git # use my modified version of neonx

brewer2mpl==1.4.1
lxml==3.6.0
networkx==1.11
nltk==3.2
pydot2==1.0.33
pygraphviz==1.3.1
Unidecode==0.4.19

# for debugging / testing
pudb>=2016.1
pytest>=2.9.1
