-e . # install this package using the setup.py in this directory

brewer2mpl==1.4.1
lxml==3.6.0
networkx==1.11
nltk==3.2.5
pydot2==1.0.33
gvmagic==0.4

pygraphviz==1.3.1
# on current Ubuntu systems you will need to install pygraphviz manually,
# cf. http://stackoverflow.com/questions/32885486/pygraphviz-importerror-undefined-symbol-agundirected
# pip install pygraphviz --install-option="--include-path=/usr/include/graphviz" --install-option="--library-path=/usr/lib/graphviz/"

pydotplus==2.0.2 # required by networkx's to_pydot. we use it for print_dot

Unidecode==0.4.19

# for testing
pytest==3.5.1
more-itertools==5.0.0 # version 6.0.0 is Python3-only

# for Python 2/3 compatibility
future==0.17.1
